/* generell stil */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial;
    font-weight: 400;
}
li, a, button {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

/* kode til navigasjonsbaren */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: #333;
    flex-direction: row;
    white-space: nowrap ;
}

.items {
    display: flex;
    gap: 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.second {
    display: none;
    visibility: hidden;
}

.logo {
    margin-left: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
     display: inline-block;
     padding: 0 1.25rem;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(0,136,169);
} 

.dropdown-content a {
    transition: all 0.3s ease 0s;
}

.dropdown-content a:hover {
    color: rgb(0,136,169);
}

/* endring til mobil*/

@media (max-width: 600px) {
    header {
        display: block;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .hidden {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .second {
        display: block;
        visibility:visible;
    }

    .first {
        display: none;
        visibility: hidden;
    }

    nav {
        text-align: start;
        flex-direction: column;
    }



    .logo {
        display: nne;
    }
    .home {        
        width: fit-content;
    }
    .nav-links li {
        padding: 0 1rem;
    }
}

.nav-btns {
    transition: all 0.3s ease 0s;
}

.nav-btns:hover {
    color: rgb(0,136,169);
}

/* kode til hjemknappen */

.home {
}

.home button {
    padding:  0.563rem 1.563rem;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* kode til overskriften på hjemsiden */

.headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    color: whitesmoke;
    background-color: rgb(0,136,169);
}

.headline-main-text {
    display: inline-block;
    padding: 0.5rem;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.headline-under-text {
    display: inline-block;
    padding: 0.5rem;
    font-size: 32px;
    font-style: italic;
    text-align: center;
}

/* endring til mobil*/

@media (max-width: 800px) {
    .headline-main-text {
        font-size: 60px;
    }
    .headline-under-text {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .headline-main-text {
        font-size: 36px;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .headline-under-text {
        font-size: 21px;
        text-align: center;
    }
}

/* kode info om prosjekter */

.main-velkommen {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 7% 0 0;
    background-image: url(/Bilder/Amalie\ Skram\ egentatt.jpeg);
    height: 50rem;
    background-repeat: no-repeat;
}

.main-velkommen-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    color: black;
    background-color: rgba(223, 223, 223, 0.7);
}

.main-velkommen-headline {
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-size: 32px;
    font-weight: bold;
}

.main-velkommen-text {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    font-size: 22px;
}

.velkommen-hidden {
    display: none;
    visibility: hidden;
}

/* endring til mobil*/

@media (max-width: 600px) {
    .main-velkommen {
        background-image: none;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
    }
    .velkommen-hidden {
        display: block;
        visibility: visible;
        width: 100%;
    }

    .main-velkommen-textbox {
        width: auto;
        margin: 1rem;
    }
    
}

/* Koden til dropdown */

.dropbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    padding: 10px 0 0 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    color: rgb(0,136,169);
}

/* kode prosjektbokser på fag sider */

.projects {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 1.5rem 7%;
    background-image: url(/Bilder/Stock\ Plant.jpg);
}

/* bakgrunnsbilde til konseptutvikling*/

.konsept-1 {
    background-image: url(/Bilder/Coding.jpg);
    background-size: 1550px;
}

.projects-2 {
    background-image: url(/Bilder/Stock\ Plant.jpg);
    align-items: flex-start;
    background-size: auto;
}

.projects-3 {
    background-image: url(/Bilder/Stock\ Plant.jpg);
}

.projects-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    color: whitesmoke;
    background-color: rgba(20, 20, 20, 0.5);
}

.main-prosjekter-headline {
    padding: 0.8rem;
    font-size: 32px;
    font-weight: bold;
}

.main-prosjekter-text {
    padding: 0.8rem;
    font-size: 22px;
}

/* endring til mobil*/

@media (max-width: 600px) {
    .projects-textbox {
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .main-prosjekter-text {
        text-align: center;
    }
}


.projects-button  {
    padding:  0.563rem 1.563rem;
    margin: 0.8rem 0 1rem 0;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.projects-button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* kode til info om skolen */

.school-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.asvgs-picture-textbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}

.asvg-picture {
    width: 50%;
}

@media (max-width: 760px) {
    .school-info {
        flex-direction: column;
    }

    .asvgs-picture-textbox {
        width: auto;
    }

    .asvg-picture {
        width: 100%;
    }
}


.asvgs-picture-textbox-headline {
    padding: 1rem 0;
}


/* kode til linje info*/

.linje-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.linje-textbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}

.linje-headline {
    padding: 1rem 0;
}

.linje-picture {
    width: 50%;
}

@media (max-width: 760px) {
    .linje-info {
        flex-direction: column;
    }
    .linje-picture {
        width: 100%;
        order: 1;
    }
    .linje-textbox {
        order: 2;
        width: auto;
    }
}


/* Om meg kode */

.main-om-meg {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 0 7%;
    background-image: url(/Bilder/Meg_selv.jpeg);
    height: 50rem;
    background-repeat: no-repeat;
}

.om-meg-hidden {
    display: none;
    visibility: hidden;
}

.main-om-meg-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    color: black;
    background-color: rgba(223, 223, 223, 0.7);
}

.main-om-meg-headline {
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-size: 32px;
    font-weight: bold;
}

.main-om-meg-text {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    font-size: 22px;
}

/* til mindre skjermer / mobil */

@media (max-width: 600px) {
    .main-om-meg {
        background-image: none;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
    }
    .om-meg-hidden {
        display: block;
        visibility: visible;
        width: 100%;
    }

    .main-om-meg-textbox {
        width: auto;
        margin: 1rem;
    }
}

/* om meg interresser */

.om-meg-interresser {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 7% 0 0;
    background-image: url(/Bilder/Meg\ selv\ tar\ bilder.png);
    height: 50rem;
    background-repeat: no-repeat;
}

.om-meg-hidden-2 {
    display: none;
    visibility: hidden;
}

.om-meg-interresser-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    color: black;
    background-color: rgba(223, 223, 223, 0.7);
}

.om-meg-interresser-headline {
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-size: 32px;
    font-weight: bold;
}

.om-meg-interresser-text {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    font-size: 22px;
}

/* til mindre skjermer / mobil */

@media (max-width: 600px) {
    .om-meg-interresser {
        background-image: none;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
    }
    .om-meg-hidden-2 {
        display: block;
        visibility: visible;
        width: 100%;
        padding: 0;
    }

    .om-meg-interresser-textbox {
        width: auto;
        margin: 1rem;
    }
}